<footer>

  <div class="container">
    <div class="pay-medios">
      <img src="../../../assets/mediosPagos/bitcoin.png" alt="bitcoin">
      <img src="../../../assets/mediosPagos/american-express.png" alt="american-express">
      <img src="../../../assets/mediosPagos/de-una.png" alt="de-una">
      <img src="../../../assets/mediosPagos/binance-pay.png" alt="binance-pay">
      <img src="../../../assets/mediosPagos/master-card.png" alt="master-card">
      <img src="../../../assets/mediosPagos/visa.png" alt="visa">
      <img src="../../../assets/mediosPagos/paypal.png" alt="paypal">
      <img src="../../../assets/mediosPagos/google-pay.png" alt="google-pay">
      <img src="../../../assets/mediosPagos/diners-club.png" alt="diners">
    </div>
    <div class="social-icons">
      <a target="_blank"  href="https://www.facebook.com/tabloncitoarte" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
      <a target="_blank" href="" rel="noopener noreferrer"><i class="fab fa-tiktok"></i></a>
      <a target="_blank" href="#" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
      <a target="_blank" href="https://www.instagram.com/creaciones_tearte/?igshid=NzZlODBkYWE4Ng%3D%3D" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
    </div>
    <p>&copy; 2024 Cerámica teArte. Todos los derechos reservados.</p>
  </div>
</footer>
