<footer>
  <div class="container">
    <div class="social-icons">
      <a target="_blank"  href="https://www.facebook.com/tabloncitoarte" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
      <a target="_blank" href="#" rel="noopener noreferrer"><i class="fab fa-tiktok"></i></a>
      <a target="_blank" href="#" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
      <a target="_blank" href="#" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
    </div>
    <p>&copy; 2023 Cerámica teArte. Todos los derechos reservados.</p>
  </div>
</footer>
