<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="logo" src="../../../assets/logoTArte.png" alt="logo-ceramica" srcset="">
    </a>

    <!-- Botón de menú desplegable -->
    <button class="navbar-toggler" type="button" (click)="onNavbarToggled()" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú desplegable -->
    <div class="collapse navbar-collapse" [ngClass]="isNavbarCollapsed ? 'show' : ''">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page"  routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/QuienesSomos">Quienes Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/SobreNosotros" >Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Productos">Nuestros Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/Contactanos" >Contáctanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

