*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Estilo personalizado para el carrusel */
#carouselExampleControls {
  max-height: 400px; /* Puedes ajustar el valor según el tamaño deseado */
  margin-bottom: 3.5rem;
}

/* Estilo personalizado para las imágenes dentro del carrusel */
#carouselExampleControls img {
  height: auto; /* Las imágenes mantendrán su relación de aspecto original */
  max-height: 100%; /* Las imágenes no superarán la altura máxima del carrusel */
}
/*Seccion productos*/
.products-home {
  background-color: #f0f0f0; /* Color de fondo para la nueva sección */
  padding: 1rem; /* Espacio alrededor del contenido de la nueva sección */
  height: auto;
}


.container-title{
  text-align: center;
  width: 100%;

}

.addon-title{
  text-align: center;
  text-transform: inherit;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.1rem;

}

.grid-wrapper{
  /* width: 50%;
  margin: 0 auto; */
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-home img {
  max-width: 100%; /* Hace que la imagen no se desborde del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Elimina espacios en blanco alrededor de la imagen */
  margin: 0 auto; /* Centra la imagen dentro del contenedor */
}

.col-sm-3,
.col-sm {
  margin-bottom: 15px; /* Agrega espacio entre las imágenes */
}

.container {
  max-width: 1200px; /* Limita el ancho del contenedor para que se vea bien en pantallas grandes */
  margin: 0 auto; /* Centra el contenedor en la página */
}

.container-title {
  text-align: center; /* Centra el título */
  margin-bottom: 30px; /* Agrega espacio entre el título y las imágenes */
}


/* Estilos para la sección de bienvenida */

.container-text {
  padding: 60px 0;
  background-color: #f8f9fa; /* Fondo gris claro */
}

.container-text p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #333; /* Color de texto oscuro */
  margin-bottom: 20px;
  font-weight: 800;
}

.container-text p:last-child {
  margin-bottom: 0;
}

/* Estilos específicos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .container-text p {
    font-size: 1rem;
  }
}

