<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height: 450px;" src="../../../assets/Portada.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height: 450px;"  src="../../../assets/Portada3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" >
      <img style="height: 450px;" src="../../../assets/Portada2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- sección productos -->

<section class="products-home">
  <div class="container-title">
    <h2 class="addon-title">
      <span class="title">Productos</span>
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-6" *ngFor="let imagen of imagenes; let i = index">
        <div class="contenedor">
          <img
            [src]="imagen.hover ? imagen.secundaria : imagen.principal"
            alt="Imagen {{ i }}"
            (mouseover)="cambiarEstadoImg1(i)"
            (mouseout)="cambiarEstadoImg1(i)"
          />
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-3 col-6" *ngFor="let imagen of imagenesTwo; let i = index">
        <div class="contenedor">
          <img
            [src]="imagen.hover ? imagen.secundaria : imagen.principal"
            alt="Imagen {{ i }}"
            (mouseover)="cambiarEstadoImg2(i)"
            (mouseout)="cambiarEstadoImg2(i)"
          />
        </div>
      </div>
    </div>
  </div>


</section>

<!-- Section descripcion -->
<section class="container  container-text">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p>
        ¡Bienvenido a Cerámica Tearte , con más de 20 años de experiencia en el mundo de la cerámica artística! Nuestra filosofía se centra en preservar las auténticas tradiciones y técnicas artesanales, a la vez que abrimos las puertas a la innovación creativa.
      </p>
      <p>
        Cada pieza de cerámica y artesanias en Cerámica Tearte se crea con pasión y dedicación. Nuestro equipo de artesanos comparte un profundo amor por el arte cerámico, reflejado en cada detalle de nuestras creaciones. Desde delicadas piezas decorativas hasta utilitarios de incomparable belleza, nuestra diversa gama de productos exhibe la habilidad y talento de nuestros expertos.
      </p>
      <p>
        Nos enorgullecemos de ofrecer una experiencia personalizada y única a nuestros clientes. Trabajamos en estrecha colaboración contigo para comprender tus deseos y necesidades, permitiendo así la creación de piezas que reflejen tu estilo y personalidad. Cada visita a Cerámica Tearte y Artesanías es un encuentro genuino con el arte en su máxima expresión.
      </p>
      <p>
        Te invitamos a explorar nuestro amplio catálogo de cerámica artística y a sumergirte en un mundo de creatividad y tradición.
      </p>
    </div>
  </div>
</section>






