<div class="img-quienes-somos-contenedor">
  <img src="../..//../assets/productsAlls/quienes_somos.jpg" style="width: 100%; height: 40rem;" alt="nosotros">
</div>


<!-- Section descripcion -->
<section class="quienes-somos-desc-contenedor">
  <div class="row">

    <div class="col-md-6 quienes-somos-text color1"  >
      <p>
        Somos la empresa retail líder de acabados para la construcción en el país,
         contamos con gran variedad de griferías, sanitarios, herramientas y otros elementos para la construcción.
        <br>
        El portafolio que ofrecemos es amplio y variado, creamos productos con diseño de vanguardia.
      </p>
    </div>

   <div class="col-md-6 quienes-somos-text color2">
      <p>Producir y comercializar cerámica plana y porcelanato, usando tecnología de vanguardia,
        amigable al medio ambiente, afianzándonos con altos estándares de calidad, servicio y eficiencia,
        manteniendo un personal con capacidad técnica, promoviendo el cumplimiento de principios éticos, morales y el desarrollo de virtudes humanas.
      </p>
    </div>


  </div>
</section>






