<div class="container-history">
  <div class="historytitle" style="margin-top: 2rem;">
    <h3>Nuestra Historia</h3>
  </div>

  <div class="history-description"  style="margin-top: 5rem;">

      <div class="row" style="display: flex; flex-direction: row;">
        <div>
          <p >No solo fabricamos productos de cerámica elaborados artesanalmente. Creamos piezas vivas, con alma, diseños únicos creados por nosotros. Nos gusta trabajar con las manos y mimar cada detalle.

            En nuestro taller no solo hay espacio para la tradición, nos gusta innovar y crear nuevas tendencias.
             Somos la tercera generación de artesanos, creando piezas de cerámica hechas a mano. Nuestra tienda online de cerámica
             es el destino ideal para aquellos que buscan piezas con alma y personalidad.
             Estamos muy conectados a nuestras raíces, por ello, siempre viene al encuentro de nuestra inspiración nuestra cultura andaluza con reminiscencias árabes.
             En nuestras diferentes colecciones encontrarás un universo de colores y estilos para los gustos más exquisitos.
           </p>
        </div>


           <div class="img-container-history">
            <img src="../../../assets/productsAlls/sobre_nosotros_img.jpeg" alt="sobre_nosotros"  height="300px" width="500px">

           </div>

      </div>

      <div class="bar">

      </div>




        <div class="img-container-history-">
              <img src="../../../assets/productsAlls/sobre_nosotros_img.jpeg" alt="sobre_nosotros">
            </div>
        </div>


</div>

